#============= crash_dump ==============
allow crash_dump gpu_device:chr_file { getattr open };
allow crash_dump hwservicemanager_prop:file { getattr open };

