#============= hvdcp ==============
allow hvdcp sysfs:file { open read write };
allow hvdcp self:capability sys_admin;
dontaudit hvdcp self:capability { dac_override };
r_dir_file(hvdcp, sysfs_batteryinfo)
