allow priv_app device:dir open;
allow priv_app file_contexts_file:file getattr;
allow priv_app hal_memtrack_default:binder call;
allow priv_app hwservice_contexts_file:file getattr;
allow priv_app nfc_data_file:dir getattr;
allow priv_app nonplat_service_contexts_file:file getattr;
allow priv_app proc:file { getattr open };
allow priv_app proc_interrupts:file open;
allow priv_app proc_modules:file { getattr open };
allow priv_app proc_version:file { getattr open };
allow priv_app radio_data_file:dir getattr;
allow priv_app seapp_contexts_file:file getattr;
allow priv_app sepolicy_file:file { getattr open read };
allow priv_app sysfs_android_usb:file open;
allow priv_app system_app_data_file:dir getattr;
allow priv_app unlabeled:dir getattr;
allow priv_app vndservice_contexts_file:file getattr;
allow priv_app wifi_prop:file { getattr open };
allow priv_app boottime_prop:file { getattr open read };

allow priv_app adbd_prop:file { getattr open };
allow priv_app apexd_prop:file { getattr open };
allow priv_app apk_verity_prop:file { getattr open };

