allow system_app proc_pagetypeinfo:file { getattr open read };
allow system_app su_exec:file getattr;
allow system_app sysfs:file { getattr open read };
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file { getattr open read };
# allow system_app vendor_camera_prop:file { getattr open read };
# allow system_app cnd_vendor_prop:file { getattr open read };
allow system_app sysfs_gesture:file rw_file_perms;

#============= gmscore_app ==============
allow gmscore_app adbd_prop:file { getattr open };
# allow gmscore_app adsprpc_prop:file { getattr open };
allow gmscore_app apexd_prop:file { getattr open };
allow gmscore_app apk_verity_prop:file { getattr open };
allow gmscore_app hal_memtrack_default:binder call;
# allow gmscore_app bg_boot_complete_prop:file { getattr open };
# allow gmscore_app bg_daemon_prop:file { getattr open };
allow gmscore_app bluetooth_a2dp_offload_prop:file { getattr open };
allow gmscore_app bluetooth_audio_hal_prop:file { getattr open };
allow gmscore_app bluetooth_prop:file { getattr open };
allow gmscore_app bootloader_boot_reason_prop:file { getattr open };
allow gmscore_app boottime_prop:file { getattr open };
allow gmscore_app boottime_public_prop:file { getattr open };
allow gmscore_app bpf_progs_loaded_prop:file { getattr open };
allow gmscore_app charger_prop:file { getattr open };
# allow gmscore_app cnd_vendor_prop:file { getattr open };
allow gmscore_app cold_boot_done_prop:file { getattr open };
allow gmscore_app cpu_variant_prop:file { getattr open };
# allow gmscore_app ctl_LKCore_prop:file { getattr open };
allow gmscore_app ctl_adbd_prop:file { getattr open };
allow gmscore_app ctl_apexd_prop:file { getattr open };
allow gmscore_app ctl_bootanim_prop:file { getattr open };
allow gmscore_app ctl_bugreport_prop:file { getattr open };
allow gmscore_app ctl_console_prop:file { getattr open };
allow gmscore_app ctl_default_prop:file { getattr open };
allow gmscore_app ctl_dumpstate_prop:file { getattr open };
allow gmscore_app ctl_gsid_prop:file { getattr open };
allow gmscore_app ctl_interface_restart_prop:file { getattr open };
allow gmscore_app ctl_interface_start_prop:file { getattr open };
allow gmscore_app ctl_interface_stop_prop:file { getattr open };
allow gmscore_app ctl_mdnsd_prop:file { getattr open };
# allow gmscore_app ctl_qcrild_prop:file { getattr open };
allow gmscore_app ctl_restart_prop:file { getattr open };
allow gmscore_app ctl_rildaemon_prop:file { getattr open };
allow gmscore_app ctl_sigstop_prop:file { getattr open };
allow gmscore_app ctl_start_prop:file { getattr open };
allow gmscore_app ctl_stop_prop:file { getattr open };
# allow gmscore_app ctl_vendor_hbtp_prop:file { getattr open };
# allow gmscore_app ctl_vendor_imsrcsservice_prop:file { getattr open };
# allow gmscore_app ctl_vendor_mmid_prop:file { getattr open };
# allow gmscore_app ctl_vendor_netmgrd_prop:file { getattr open };
# allow gmscore_app ctl_vendor_port-bridge_prop:file { getattr open };
# allow gmscore_app ctl_vendor_qmuxd_prop:file { getattr open };
# allow gmscore_app ctl_vendor_rild_prop:file { getattr open };
# allow gmscore_app ctl_vendor_rmt_storage_prop:file { getattr open };
# allow gmscore_app ctl_vendor_wigigsvc_prop:file { getattr open };
allow gmscore_app device_config_activity_manager_native_boot_prop:file { getattr open };
allow gmscore_app device_config_boot_count_prop:file { getattr open };
allow gmscore_app device_config_configuration_prop:file { getattr open };
allow gmscore_app device_config_input_native_boot_prop:file { getattr open };
allow gmscore_app device_config_media_native_prop:file { getattr open };
allow gmscore_app device_config_netd_native_prop:file { getattr open };
allow gmscore_app device_config_reset_performed_prop:file { getattr open };
allow gmscore_app device_config_storage_native_boot_prop:file { getattr open };
allow gmscore_app device_config_sys_traced_prop:file { getattr open };
allow gmscore_app device_config_window_manager_native_boot_prop:file { getattr open };
allow gmscore_app device_logging_prop:file { getattr open };
allow gmscore_app dumpstate_options_prop:file { getattr open };
allow gmscore_app dynamic_system_prop:file { getattr open };
allow gmscore_app exported_audio_prop:file { getattr open };
allow gmscore_app exported_bluetooth_prop:file { getattr open };
allow gmscore_app exported_overlay_prop:file { getattr open };
allow gmscore_app fastbootd_protocol_prop:file { getattr open };
allow gmscore_app firstboot_prop:file open;

