allow system_server persist_file:dir rw_dir_perms;
allow system_server dex2oat_exec:file { read open };
allow system_server vibeamp_sysfs:file rw_file_perms;
allow system_server user_profile_data_file:dir read;

# talk to perfd
allow system_server perfd_data_file:dir search;
allow system_server perfd_data_file:sock_file write;
allow system_server perfd:unix_stream_socket connectto;
allow system_server mpctl_data_file:dir search;
allow system_server mpctl_data_file:sock_file write;
allow system_server mpctl_socket:dir search;
allow system_server mpctl_socket:sock_file write;
