allow vendor_init bt_firmware_file:lnk_file create;
allow vendor_init media_rw_data_file:dir setattr;
allow vendor_init nfc_data_file:dir { search setattr };
allow vendor_init rootfs:dir { add_name create setattr write };
allow vendor_init rootfs:lnk_file setattr;
allow vendor_init shell_exec:file getattr;
allow vendor_init sysfs:lnk_file setattr;
allow vendor_init system_data_file:dir { remove_name setattr write };
allow vendor_init system_data_file:file unlink;
allow vendor_init tombstone_data_file:dir { search setattr };
