allow vendor_init bt_firmware_file:lnk_file create;
allow vendor_init rootfs:lnk_file setattr;
allow vendor_init shell_exec:file getattr;
allow vendor_init sysfs:lnk_file setattr;
allow vendor_init system_data_file:file unlink;
allow vendor_init {
  camera_data_file
  media_rw_data_file
  nfc_data_file
  rootfs
  system_data_file
  tombstone_data_file
  wifi_data_file
  wpa_socket
}:dir { create search getattr open read setattr ioctl write add_name remove_name rmdir relabelfrom };
