#============= flags_health_check ==============
allow flags_health_check ctl_dpmd_prop:file { getattr open };
allow flags_health_check recovery_update_prop:file { getattr open };
allow flags_health_check vendor_fst_prop:file { getattr open };
allow flags_health_check vendor_mm_osal_prop:file { getattr open };
allow flags_health_check vendor_mm_parser_prop:file { getattr open };
allow flags_health_check vendor_mm_video_prop:file { getattr open };
allow flags_health_check vendor_wigig_core_prop:file { getattr open };
allow flags_health_check wfd_debug_prop:file { getattr open };
allow flags_health_check wfd_service_prop:file { getattr open };

