on init
    # Bring up CPUs
    exec - root root system -- /system/bin/init.power.sh

    # update cpusets now that processors are up
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/foreground/schedtune.boost 0
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 0

    # Enable sched boost
    write /proc/sys/kernel/sched_boost 1

    # Add a cpuset for the camera daemon
    # we want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus "0-3"
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

on enable-low-power
    # Set BFQ I/O scheduler
    setprop sys.io.scheduler "bfq"

    # Set idle GPU to 133 Mhz
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6

    # Set perfd properties
    setprop sys.post_boot.parsed 1

    # Start perfd after all properties have been properly set
    start perfd

    # Starting io prefetcher service
    start iop

on charger
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    wait /dev/block/bootdevice
    mount_all charger.fstab.qcom
    start hvdcp_opti
 
on property:sys.boot_completed=1
    trigger enable-low-power
    write /proc/sys/kernel/sched_boost 0

    # Disable core control
    write /sys/module/msm_thermal/core_control/enabled 0

    # Update foreground and background cpusets (goal is load balancing
    # and UI responsiveness).
    write /dev/cpuset/background/cpus "0"
    write /dev/cpuset/system-background/cpus "0-2"
    write /dev/cpuset/foreground/cpus "0-2"
    write /dev/cpuset/foreground/boost/cpus "0-2"
    write /dev/cpuset/top-app/cpus "0-3"
