type adsprpcd_file, file_type;
type bt_firmware_file, file_type;
type firmware_file, file_type;
type persist_file, file_type;
type crashdata_data_file, file_type;
type carrier_file, file_type;
